#navbar {
  height: 130px;
}

#navbar-container {
  flex-direction: column;
  padding: 20px;
}

#navbar-items {
  justify-content: center;
  text-align: center;
  width: 100%;
}

#showcase-container {
  padding: 40px;
}

#ferramentas-container {
  grid-template-columns: repeat(3, 1fr);
}

.ferramenta {
  width: 50%;
}

.premiere {
  display: inline-block;
  width: 70%;
}

#features {
  height: 100%;
}

#features-container {
  grid-template-columns: 1fr;
}

#features-container .feature:nth-child(2) {
  margin: 15px 0;
}

#product {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 50px;
}

#product-container {
  display: flex;
  flex-direction: column;
}

#items {
  width: 90%;
}

.item {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#editor {
  height: 100%;
  padding: 110px;
}

.medeiros {
  flex-direction: column;
  text-align: center;
}

#gallery-container {
  grid-template-columns: 1fr;
}

.gallery-image {
  width: 100%;
  height: 100%;
}

@media (min-width: 200px) {
  #navbar {
    height: 90px;
  }

  #navbar-container {
    flex-direction: column;
    padding: 6px;
  }

  #showcase-container {
    height: 200px;
    padding: 20px;
  }

  #ferramentas .headline {
    display: flex;
    justify-content: center;
  }

  .ferramenta {
    width: 60%;
  }

  .premiere {
    display: inline-block;
    width: 90%;
  }

  #editor .headline {
    display: flex;
    justify-content: center;
  }

  #gallery {
    height: 100%;
  }
}
